html{color:#000;background:#FFF;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {margin:0;padding:0;font:Microsoft Yahei; }
table {border-collapse:collapse;border-spacing:0;}
fieldset,img {border:0;}
address,caption,cite,code,dfn,em,strong,th,var {font-style:normal;font-weight:normal;}
ol,ul {list-style-type:none;}
caption,th {text-align:left;}
h1,h2,h3,h4,h5,h6 {font-size:100%;font-weight:normal;}
q:before,q:after {content:'';}
abbr,acronym { border:0;}
a, a:hover, a:visited, a:link, a:active { color:#000; text-decoration:none; outline: none;}

/*-- 通用格式 --*/
.fl{float: left;}
.fr{float: right;}
.w{width: 935px;margin: 0 auto;}
.clearfix:after{
   content:".";/*加一段内容*/
   display:block;/*让生成的元素以块级元素显示，占满剩余空间*/
   /*height:0;避免生成的内容破坏原有布局高度*/
   clear:both;/*清除浮动*/
   visibility:hidden;/*让生成的内容不可见*/
 }
.clearfix{zoom:1;/*为IE6，7的兼容性设置*/}
img{width: 100%}



nav{border-top: 20px solid #efefef; }
nav img{width: 56px;height: 56px; margin-left: 45px;margin-top: 15px;}
.ch_en{width: 115px;height: 30px; line-height: 30px; color:#ff261c; padding-left: 20px;margin-top: 25px; margin-right: 45px; 
	border:1px solid 
	#efefef;border-radius:6px; -moz-border-radius:6px;background-color: #efefef;}
.ch_en a{color:#ff261c;}
h1{font: Helvetica Neue;font-size: 40px;color: #fff100;font-weight:bold;text-align: center;line-height: 1.5;}
img.bannerimg{margin-bottom: -1%;}
.banner-text{position: relative; height: 410px;}
.competition-name{position: absolute;left: 25%;bottom:45px;}
.banner-info{background-color: #514f4e;line-height: 1.5; color: #fff100;font-weight: bold;} 
.banner-info .w{height: 135px;width: 1000px; }
.banner-info p{font-size: 18px;}
.banner-info p.dollar{font-size: 30px;line-height: 1; padding-left: 45px;}
.banner-info p.dollar-text{font-size: 14px;line-height: 1.5;padding-left: 45px;}
.banner-info .info-1 img{width: 163px;height:62px;/*position: absolute;top:0px;left: 0px;*/}
/*.banner-info .info-1{position: relative;}*/
.banner-info .info-3{width: 150px;height: 65px; text-align: center; line-height: 65px; color:#000; border:1px solid 
	#fff100;border-radius:10px; -moz-border-radius:10px;background-color: #fff100;margin: 40px 13px;}
.banner-info .info-3 p{font-size: 18px;}

.red-btn{width: 95px;height: 42px; line-height: 40px; color:#fff; padding-left: 10px; 
	margin-top: 70px; margin-bottom: 15px; font-weight: bold;border:1px solid 
	#ff261c;border-radius:6px; -moz-border-radius:6px;background-color: #ff261c;}
/*#CATEGORIES .red-btn{width: 140px;}
#Competition-Rules .red-btn{width: 185px;}
#Awards .red-btn{width: 95px;}
#Organizer .red-btn{width: 115px;}*/
.red-btn img{width: 10px;height: 13px;margin-left: 10px;margin-top: 13px;}
.details p,em,i{margin-top: 16px; font: Euphemia; /*font-size: 14px;*/line-height: 2;font-size: 15px}
p.red,em,i{margin-top: 50px; color:#ff261c;}
p.red{font-weight: bold;}
footer{height: 105px;background-color: #514f4e; margin-top: 70px;}
footer img{height: 35px;width: 35px;margin:35px 0 35px 10px;}
img.top{width: 65px; height: 65px; position: fixed;right: 30px;bottom: 30px;}
img.notice{width:260px;height: 140px; position: fixed;left: 30px;bottom: 30px;z-index:9990}
button{ position: fixed;left: 267px;bottom: 149px;z-index:9999}
.details a{color:#ff261c; }

#logo1,#logo2,#logo3,#logo4,#logo6,#logo7,#logo8{position: relative;}
img.org-logo1{height: 22px;width: auto;position:absolute;top:4px;left: 190px}
img.org-logo2{height: 35px;width: auto;position:absolute;top:-5px;left: 175px}
img.org-logo8{height: 34px;width: auto;position:absolute;top:-5px;left: 85px}
img.org-logo5{height: 30px;width: auto;position:absolute;top:-5px;left: 258px}
img.org-logo3{height: 35px;width: auto;position:absolute;top:-5px;left: 150px}
img.org-logo7{height: 25px;width: auto;position:absolute;top:2px;left: 165px}
img.org-logo4{height: 30px;width: auto;position:absolute;top:2px;left: 210px}
img.org-logo6{height: 30px;width: auto;position:absolute;top:-5px;left: 85px}




/*首届回顾*/
.CompetitionDetails{width: 130px;}
.ExcellenceAwards{width: 160px;}
.red-bg {position: relative;height: 110px;}
.AwardsWork{position: absolute; color: #fff;font-weight: bold;border-radius: 6px;-moz-border-radius: 6px;background-color: #ff261c;
    text-align:center;width: 50%;height: 25px;margin-top: 70px;line-height: 25px;left: 25%}
.gray-bg{width: 100%;background: #f7f8f8;}
.awardstitle{text-align: center;padding-top: 22px;padding-bottom: 25px;color: #ff261c;font-weight:bold;}
.gray-con{padding-left: 17.5px;padding-right: 17.5px;margin-top: 30px;}
.gray-con img{margin: 25px 0}
.gray-con p{font-size: 15px;line-height: 2}
.HonorableMention{width: 160px;}
#HonorableMention a{color: #7f7f79;text-decoration: underline;}
#HonorableMention a:hover{color: #ff261c;}
.panel-details{width: 48%;padding-top: 30px;border-top: 1px solid #9a9a9a;margin-right: 9px;margin-left: 9px;}
.panel-img img{width: 85px;height: 110px;border-radius:10px;margin-bottom: 12px;}
.panel-con{width: 75%;margin-left: 15px;margin-bottom: 15px;}
.panel-con p{font-size: 12px;line-height: 1.75;}
p.name{margin-bottom: 3px;font-weight:bold;}
.gray-con{position: relative;}
.play{position: absolute;width: 115px;bottom:25px;left: 65px;}



/*自适应*/
@media screen and (min-width: 1023px){
.info-1,.info-2,.info-3{float: left;}
.banner-info .info-2 p{padding-left: 15px; background: url(../img/o.png) 0px 7px no-repeat;}
.banner-info .info-1{margin: 45px 0;}
.banner-info .info-2{margin: 60px 34px;}
nav ul{height: 84px;line-height: 84px;margin-left: 17%;}
nav ul li{float: left; margin-left: 65px;/*font: Franklin Gothic Book;*/ /*font-size: 18px;*/ }
img#menuBtn{display: none;}
.chenchangfeng,.wantian{height: 129px;}
.chenshi{border-top: 0px;}
/*.liusiyuan,.Patrick{height: 131px;}*/
.panel-line2{width: 100%;}
}

@media screen and (min-width: 1200px) and (max-width: 1500px) {
nav ul {margin-left: 5%;}
}

@media screen and (min-width: 1000px) and (max-width: 1199px) {
nav ul {margin-left: 0}
nav ul li{float: left; margin-left: 40px;}
}

@media screen and (max-width: 1023px) {
.w {width: 95%;}
.ch_en{width: 110px;padding-left: 9px;}
nav {height: 75px;border-bottom: 8px solid #efefef; border-top: 0px;/*line-height: 90px;*//*background: url(../img/logo.png) 10px 10px no-repeat;*/position: relative;}
ul.pc-menu{width: 150px;margin: 0;float: right; position: absolute;top: 75px;right: 0px; z-index:9999;display: none;}
ul.pc-menu li{background-color:rgba(255, 255, 255, 0.85);padding:0px 15px 20px 45px;}
ul.pc-menu li a{color:#ff261c;}
ul.pc-menu li a:hover{font-weight: bold; text-decoration:underline; outline: none;}
.banner-info .info-1,.info-2{padding-top: 8px;}
/*.banner-info .info-1 img{top:10px;left: 30%;}*/
.banner-info .info-3{width: 120px;height: 40px;line-height: 40px;border-radius:6px; -moz-border-radius:6px; margin-left: 35%; margin: 10px auto; }
/*.banner-info .info-3 p{font-size: 14px;}*/
.banner-info .w{height: 235px; width: 100%; text-align: center;}
.red-btn{margin-top: 40px;}
.details p,em,i,a{margin-top: 15px;}
img.top{width: 50px; height: 50px;right: 5px;bottom: 20px;}
img#menuBtn{width:35px;height: 35px;margin-top: 23px;margin-right: 9px;}
.ch_en{margin-right: 0; }
nav img{width: 40px;height: 40px; margin-left: 15px;margin-top: 20px;}
.banner-info .info-3 p,.banner-info p{font-size: 16px;}
img.org-logo1{height: 22px;width: auto;position:absolute;top:5px;left: 0px}
img.org-logo4,img.org-logo6{height: 30px;width: auto;position:absolute;top:20px;left: 0px}
img.org-logo8{height: 34px;width: auto;position:absolute;top:16px;left: 0px}
img.org-logo7{height: 25px;width: auto;position:absolute;top:28px;left: 0px}
img.org-logo2,img.org-logo3{height: 35px;width: auto;position:absolute;top:15px;left: 0px}
img.org-logo5{height: 30px;width: auto;position:absolute;top:15px;left: 83px}
#logo1 p.red{padding-top: 35px;}
#logo2 p.red,#logo3 p.red,#logo4 p.red,#logo6 p.red,#logo7 p.red,#logo8 p.red{padding-top: 60px;}

.AwardsWork{width: 60%;left: 20%}
.panel-details {width: 100%;}
.panel-line1{padding-top: 0px;}
.panel-line2{border: 0}
}

@media screen and (max-width: 860px) {
.play{width: 15%;bottom:3%;left:8%;}
}